<!-- Add @include outer-container(100%) to element -->
<div id="home">
  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Friends</a>
      <div class="tab-content">

        <div class="contactCard" ng-repeat="contact in myContacts | orderBy: 'remind_on':reverse | filter:{ contact_type: 'Friend'}">
          <img src="{{contact.avatar}}">
          <h4>{{contact.name}}</h4>
          <div class="contactInfo">
            <ul>
              <li>{{contact.last_meeting}} <span>Last Contact</span></li>
              <li>{{contact.remind_interval}} <span>Remind Every</span></li>
              <li>{{contact.days}} <span>Days</span></li>
            </ul>
          </div>
        </div>

      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Family</a>
      <div class="tab-content">
        

        <div class="contactCard" ng-repeat="contact in myContacts | orderBy: 'remind_on':reverse | filter:{ contact_type: 'Family'}">
          <img src="{{contact.avatar}}">
          <h4>{{contact.name}}</h4>
          <div class="contactInfo">
            <ul>
              <li>{{contact.last_meeting}} <span>Last Contact</span></li>
              <li>{{contact.remind_interval}} <span>Remind Every</span></li>
              <li>{{contact.days}} <span>Days</span></li>
            </ul>
          </div>
        </div>

      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Professionals</a>
      <div class="tab-content">
        

        <div class="contactCard" ng-repeat="contact in myContacts | orderBy: 'remind_on':reverse | filter:{ contact_type: 'Professional'}">
          <img src="{{contact.avatar}}">
          <h4>{{contact.name}}</h4>
          <div class="contactInfo">
            <ul>
              <li>{{contact.last_meeting}} <span>Last Contact</span></li>
              <li>{{contact.remind_interval}} <span>Remind Every</span></li>
              <li>{{contact.days}} <span>Days</span></li>
            </ul>
          </div>
        </div>

      </div>
    </li>
  </ul>
</div>