@import url('http://fonts.googleapis.com/css?family=Nunito:400,700,300');
@import 'menutabs';
$mobile: new-breakpoint(max-width 800px);
$nav-color: rgb(66,108,179);
$link-color: rgb(255,255,255);
$border-color: rgb(31,58,147);
$headline-color: $link-color;
$sub-headline-color: $link-color;
$text-color: rgb(44,62,80);
$fonts: 'Nunito', sans-serif;

body {
  font-family: $fonts;

  a {
    text-decoration: none;
    color: $link-color;
    font-weight: 400;
    border-bottom: 3px solid $link-color;
    padding-bottom: 3px;
    &:hover {
      color: $border-color;
      border-bottom: 3px solid $border-color;
      transition: 0.4s;
    }
    &:active {
      color: darken($border-color, 20%);
      border-bottom: 3px solid darken($border-color, 20%);
    }
  }

  h3 {
    color: $text-color;
  }
  p {
    margin-top: 0;
    color: $text-color;
    line-height: 1.5em;
  }

  input {
    padding: 10px;
    margin: 10px;
    font-size: 1.25em;
    border: 1px solid rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,0.1);
    box-shadow: inset 0 50px 50px -50px rgba(0,0,0,0.1);
  }

  #loginPage {
    @include shift(1);

    input[type="submit"] {
      @include button(shiny, $headline-color);
      margin: 10px 10px;
      outline: none;
    }

    a {
      color: $border-color;
      // border-bottom: 3px solid $border-color;
      line-height: 2em;
      &:hover {
        color: $nav-color;
        border-bottom: 3px solid $nav-color;
        transition: 0.4s;
      }
      &:active {
        color: darken($border-color, 20%);
        border-bottom: 3px solid darken($border-color, 20%);
      }
    }

  }

  nav {
    @include row();
    background-color: $nav-color;
    color: $headline-color;
    border-bottom: 5px solid $border-color;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    h1 {
      font-weight: 700;
      font-size: 3em;
      margin: 0;
      @include media($mobile) {
        @include span-columns(12);
        text-align: center;
        padding: 10px 0;
        margin:0;
      }
      @include span-columns(7);
      @include shift(1);
      padding: 0;
    }
    #addContactButton {
      cursor: pointer;
      @include media($mobile) {
        @include span-columns(12);
        text-align: center;
        padding:0 0 10px 0;
        margin:0;
        display: block;
      }
      @include span-columns(2);
      color: $link-color;
      text-align: right;
      .fa-plus-circle {
        text-align: center;
        font-size: 1em;
        padding-right: 10px;
      }
      .buttonText {
        font-size: 1em;
        border-bottom: 3px solid $link-color;
        padding-bottom: 3px;
        &:hover {
          color: $border-color;
          border-bottom: 3px solid $border-color;
          transition: 0.4s;
        }
        &:active {
          color: darken($border-color, 20%);
          border-bottom: 3px solid darken($border-color, 20%);
        }
      }
    }
    h4 {
      @include media($mobile) {
        @include span-columns(12);
        text-align: center;
        padding:10px 0;
        margin:0;
        display: block;
      }
      @include span-columns(1);
      text-align: right;
      font-size: 1em;
      margin: 0;
    }
    
  }
  #addContact {
    display: none;
    @include row();
    @include fill-parent;
    top: 0;
    text-align: center;
    padding: 20px 0;
    #leftColumn {
      @include media($mobile) {
        @include span-columns(12);
        padding:0;
        margin:0;
      }
      @include span-columns(6);
    }
    #rightColumn {
      @include media($mobile) {
        @include span-columns(12);
        padding:0;
        margin:0 auto;
        text-align: center;
      }
      @include span-columns(5);

      text-align: left;
      select {
        margin: 15px 10px;
        width: 131px;
        padding: 5px;
        font-size: 16px;
        line-height: 1em;
        border-radius: 0;
        height: 40px;
      }
      button {
        @include button(shiny, $headline-color);
        margin: 0px 10px;
        outline: none;
      }
    }
  }
}

#home {
  padding-top: 20px;
  @include outer-container;
  #contactColumns {
    @include row();
    h2 {
      font-size: 1.75em;
      color: $nav-color;
      padding-bottom: 10px;
      border-bottom: 5px solid $border-color;
    }
    #Friends, #Family, #Professional {
      @include media($mobile) {
        @include span-columns(12);
      }
      @include span-columns(4);
      text-align: center;
      .contact {
        @include fill-parent;
        text-align: center;
        padding: 20px 0;
        .avatar {
          display: block;
          margin: 0 auto;
          width:  200px;
          height: 200px;
          position: relative;
          z-index: 1;
         @include border-top-radius(150px);
         @include border-right-radius(150px);
         @include border-bottom-radius(150px);
         @include border-left-radius(150px);
         border: 10px solid $border-color;
         -webkit-box-shadow: 0px 5px 5px 0px rgba(34, 49, 63, 0.35);
         -moz-box-shadow:    0px 5px 5px 0px rgba(34, 49, 63, 0.35);
         box-shadow:         0px 5px 5px 0px rgba(34, 49, 63, 0.35);
         .bg {
          background-size: 200px 200px;
          @include border-top-radius(150px);
          @include border-right-radius(150px);
          @include border-bottom-radius(150px);
          @include border-left-radius(150px);
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: 0.4s;
          &.selected {
            transition: 0.4s;
            opacity: 0.5;
          }
         }

          span {
            color: $nav-color;
            text-align: center;
            font-size: 5em;
            font-weight: bold;
            position: relative;
            top: 30px;
            line-height: 1em;
            &.days {
              position: relative;
              top: -30px;
              font-size: 0.5em;
            }
          }
        }
        button {
          @include button(shiny, $nav-color);
          margin: 20px 10px;
          outline: none;
          &.remove {
            @include button(shiny, #aa0000);
          }
        }
      }
    }
  }
}